.Collections {
  margin: 0 auto;
  text-align: center;
  width: 430px;
  height: 932px;
  background-image: url("../assets/images/background\(Fixed\).svg");
}

.logoArea {
  padding-top: 113px;
  margin-bottom: 54px;
}

p {
  position: absolute;
  font-family: IBM Plex Sans KR;
  font-size: 20px;
  line-height: 24.2px;
  font-weight: 700;
  color: #14385d;
}

span {
  color: white;
  background-color: #14385d;
  width: 179px;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 2.5px;
  padding: 2.5px;
}

.Backend {
  top: 188px;
  left: 48px;
}

.Frontend {
}
.Datascientist {
}

.Security {
}

.Game {
}
