.Main {
  margin: 0 auto;
  text-align: center;
  width: 430px;
  height: 932px;
  background-image: url("../assets/images/background\(Fixed\).svg");
}

.logoArea {
  padding-top: 113px;
  margin-bottom: 54px;
}

.resultCase {
  margin-bottom: 66px;
}
