* {
  text-align: center;
}

.Result_FE {
  position: relative;
  margin: 0 auto;
  width: 430px;
  height: 1879px;
  background-image: url("../assets/images/backGround\(Result\).svg");
}

.Result_DS {
  position: relative;
  margin: 0 auto;
  width: 430px;
  height: 1879px;
  background-image: url("../assets/images/backGround\(Result\).svg");
}

.Result_BE {
  position: relative;
  margin: 0 auto;
  width: 430px;
  height: 1879px;
  background-image: url("../assets/images/backGround\(Result\).svg");
}

.Result_Game {
  position: relative;
  margin: 0 auto;
  width: 430px;
  height: 1879px;
  background-image: url("../assets/images/backGround\(Result\).svg");
}

.Result_Security {
  position: relative;
  margin: 0 auto;
  width: 430px;
  height: 1879px;
  background-image: url("../assets/images/backGround\(Result\).svg");
}

.logoArea img {
  width: 160px;
  height: 94px;
  padding-top: 38px;
}

.FEsummary {
  position: absolute;
  top: 301px;
  left: 228px;
  font-family: IBM Plex Sans KR;
  font-size: 25px;
  font-weight: 700;
  line-height: 38px;
  letter-spacing: 0em;
  text-align: left;
  color: #1e1e1e;
}

.FEsummary ul {
  list-style-type: none;
}

.FEsummary ul li {
  color: #1e1e1e;
  text-align: left;
}

.BEsummary {
  position: absolute;
  top: 305px;
  left: 271px;
  font-family: IBM Plex Sans KR;
  font-size: 25px;
  font-weight: 700;
  line-height: 38px;
  letter-spacing: 0em;
  text-align: left;
  color: #1e1e1e;
}

.BEsummary ul {
  list-style-type: none;
}

.BEsummary ul li {
  color: #1e1e1e;
  text-align: left;
}

.DSsummary {
  position: absolute;
  top: 520px;
  left: 287px;
  font-family: IBM Plex Sans KR;
  font-size: 25px;
  font-weight: 700;
  line-height: 38px;
  letter-spacing: 0em;
  text-align: left;
  color: #1e1e1e;
}

.DSsummary ul {
  list-style-type: none;
}

.DSsummary ul li {
  color: #1e1e1e;
  text-align: left;
}

.Security_summary {
  position: absolute;
  top: 550px;
  left: 302px;
  font-family: IBM Plex Sans KR;
  font-size: 25px;
  font-weight: 700;
  line-height: 38px;
  letter-spacing: 0em;
  text-align: left;
  color: #1e1e1e;
}

.Security_summary ul {
  list-style-type: none;
}

.Security_summary ul li {
  color: #1e1e1e;
  text-align: left;
}

.Game_summary {
  position: absolute;
  top: 575px;
  left: 37px;
  font-family: IBM Plex Sans KR;
  font-size: 25px;
  font-weight: 700;
  line-height: 38px;
  letter-spacing: 0em;
  text-align: left;
  color: #1e1e1e;
}

.Game_summary ul {
  list-style-type: none;
}

.Game_summary ul li {
  color: #1e1e1e;
  text-align: left;
}
.social {
  margin-bottom: 59px;
}

.social p {
  font-family: Jua;
  font-size: 25px;
  font-weight: 400;
  line-height: 31px;
  letter-spacing: 0em;
  color: #14385d;
  margin-bottom: 10px;
}

.icons {
  display: flex;
  justify-content: space-evenly;
}

.icons img {
  cursor: pointer;
}

.percent {
  font-family: IBM Plex Sans KR;
  font-size: 25px;
  font-weight: 700;
  line-height: 37.5px;
  color: #14385d;
}
.donutChart {
  width: 300px;
  margin: 0 auto;
}

.collectionBtn {
  position: absolute;
  top: 1764px;
  left: 30px;
  cursor: pointer;
}

.retryBtn {
  position: absolute;
  top: 1764px;
  left: 243px;
  cursor: pointer;
}
