* {
  text-align: center;
  color: #14385d;
  letter-spacing: 0em;
  font-weight: 700;
}

p {
  margin: 0;
}

.mbti {
  margin-top: 34px;
  font-family: IBM Plex Sans KR;
  font-size: 35px;
  line-height: 52px;
  margin-bottom: 0px;
}

.develop {
  font-family: IBM Plex Sans KR;
  font-size: 40px;
  line-height: 60px;
}

span {
  color: white;
  background-color: #14385d;
  width: 179px;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 2.5px;
  padding: 2.5px;
}
