.FE_illust {
  margin-top: 145px;
  margin-bottom: 101px;
}

.FEimg {
  width: 310px;
  height: 208px;
}

.BE_illust {
  margin-top: 145px;
  margin-bottom: 101px;
}

.BEimg {
  width: 310px;
  height: 208px;
}

.DS_illust {
  margin-top: 145px;
  margin-bottom: 101px;
}

.DSimg {
  width: 310px;
  height: 208px;
}

.Game_illust {
  margin-top: 145px;
  margin-bottom: 101px;
}

.GameImg {
  width: 310px;
  height: 208px;
}

.Security_illust {
  margin-top: 145px;
  margin-bottom: 101px;
}

.SecurityImg {
  width: 310px;
  height: 208px;
}
