* {
  text-align: center;
}

.Result_FE {
  margin: 0 auto;
  width: 430px;
  height: 1879px;
  background-image: url("../assets/images/backGround\(Result\).svg");
}

.logoArea img {
  width: 160px;
  height: 94px;
  padding-top: 38px;
}

.social {
  margin-bottom: 59px;
}
.social p {
  font-family: Jua;
  font-size: 25px;
  font-weight: 400;
  line-height: 31px;
  letter-spacing: 0em;
  color: #14385d;
  margin-bottom: 10px;
}

.icons {
  display: flex;
  justify-content: space-evenly;
}
