.FE_explain {
  margin-bottom: 81px;
}

.BE_explain {
  margin-bottom: 65px;
}

.DS_explain {
  margin-bottom: 81px;
}

.Game_explain {
  margin-bottom: 31px;
}

.Security_explain {
  margin-bottom: 81px;
}

.develop {
  font-family: IBM Plex Sans KR;
  font-size: 32px;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: 0em;
  color: #14385d;
  margin-bottom: 20px;
}

.listItem {
  font-family: IBM Plex Sans KR;
  font-weight: 700;
  font-size: 20px;
  line-height: 25px;
  color: #1e1e1e;
  padding-bottom: 20px;
  text-align: left;
}

ul {
  padding-left: 0;
  display: inline-block;
  margin: 20px auto 0px auto;
}

li:last-child {
  padding-bottom: 0px;
}
