.background {
  background-color: #f1f2f4;
  margin: 0;
  display: flex;
  justify-content: center;
  min-height: 100%;
}

.container {
  max-width: 430px;
  min-width: 430px;
  height: 100vh;
  background-image: url('../assets/images/background-test.png');
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;

  display: flex;
  flex-direction: column;
  .top {
    margin-top: 28px;
  }
  .logos {
    display: flex;
    justify-content: center;
    width: 100%;

    .logo {
      width: 160px;
      height: 94px;
    }
  }
  .bottom {
    margin-top: 20px;
    .backArrow {
      width: 30px;
      height: 30px;
      margin-left: 30px;
    }
    .progress {
      text-align: center;
      font-family: 'Jua', sans-serif;
      font-size: 30px;
      color: #7e7e7e;
    }

    .question {
      text-align: center;
      font-family: 'Jua', sans-serif;
      font-size: 28px;
      color: #14385d;
      margin-top: 10px;
    }

    .answers {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
}
