.container {
  width: 100vw;
  height: 100vh;
  background-image: url('../assets/images/background-test.png');
  background-position: center;
  background-repeat: no-repeat;

  display: flex;
  flex-direction: column;

  .progress {
    text-align: center;
    font-family: 'Jua', sans-serif;
    font-size: 30px;
    color: #7e7e7e;
    margin-top: 150px;
    // margin-bottom: 20px;
  }

  .question {
    text-align: center;
    font-family: 'Jua', sans-serif;
    font-size: 28px;
    color: #14385d;
    margin-top: 10px;
  }

  .answers {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .btn {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 19px 25px 0 25px;
    .backBtn {
      width: 107px;
      height: 49px;
    }
    .nextBtn {
      width: 107px;
      height: 49px;
    }
  }
}
